<div class="h-full w-full flex flex-col p-6 pt-12">
  <!-- Header -->
  <div class="flex items-center justify-between">
     <button (click)="phoneState.goHome()" class="text-blue-500">Cancel</button>
     <!-- Z Icon -->
    <svg class="w-8 h-8 text-black dark:text-white" viewBox="0 0 24 24" fill="currentColor">
        <path d="M22.52,2.57,13.1,13.82,23.48,22H21.3L12.55,14.8,5.43,22H2.08L11.89,10.18,1.52,2.57h2.2L12,8.23,20.32,2.57ZM19.29,20.45h1.56L7.33,4.11H5.66Z"></path>
    </svg>
    <div></div> <!-- Spacer -->
  </div>

  <div class="flex-grow flex flex-col justify-center">
    <h1 class="text-3xl font-bold mb-8">Create your account</h1>
    
    <div class="space-y-4">
      <input 
        type="text"
        [(ngModel)]="displayName"
        placeholder="Display Name"
        class="w-full bg-gray-100 dark:bg-gray-800 rounded-md py-3 px-4 text-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
      <input 
        type="text"
        [(ngModel)]="username"
        placeholder="@username"
        class="w-full bg-gray-100 dark:bg-gray-800 rounded-md py-3 px-4 text-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
    </div>

  </div>

  <button 
    (click)="createAccount()" 
    [disabled]="!username().trim() || !displayName().trim()"
    class="w-full bg-blue-500 text-white font-bold py-3 px-4 rounded-full text-lg flex-shrink-0 disabled:bg-gray-400 disabled:dark:bg-gray-600">
    Create
  </button>
</div>
